#Generates SQL which generates positive training samples and negative training material.

#Then save positive and negative samples (generated) to pickled numpy arrays.

In [159]:
%matplotlib inline
import pandas
import os
import numpy
from ordereddict import OrderedDict
from ggplot import *
import re

In [160]:
#constants for parametrizing the positive/negative sample generation
MIN_MENTIONS=2
DB_V = '233'
SAMPLE_STYLE = 'uniform'
DISTINCT='_distinct_' #change to '' if working with older reltype-other entitystats dumps.

dir_db2= '/home/db2inst1/vinith/'
dir_local= '/ceph/vinith/kg/embedding/'
standard_suffix = '%(distinct)s_v%(db_v)s_minmentions%(min_mentions)i_style%(style)s' % {'distinct':DISTINCT,'db_v':DB_V, 'min_mentions':MIN_MENTIONS, 'style':SAMPLE_STYLE}

##Dump relations from DB2

In [161]:
dump_path = dir_db2+'dump_v%(db_v)s_minmentions%(min_mentions)s.del' %{"db_v":DB_V,"min_mentions":MIN_MENTIONS}
sql = '''
connect to KG_R%(db_v)s;
export to %(dump_path)s of del
SELECT * FROM
(Select 
    "subject/instanceName_up",
    "subject/typeType",
    "object/instanceName_up",
    "object/typeType",
    "relCanonicalName",
    SUM("mAB_doc") as "mAB",
    count(*) as "n_docs"
from (
     Select
        "subject/instanceName_up",
        "subject/typeType",
        "object/instanceName_up",
        "object/typeType",
        "relCanonicalName",
        "documentID",
        count(*) as "mAB_doc"
     from 
     (select * from ADS."SIRE1.1"
     fetch first %(row_limit)i rows only)
     group by ( "subject/instanceName_up",
                "subject/typeType",
                "object/instanceName_up",
                "object/typeType",
                "relCanonicalName",
                "documentID"
              )
     )
group by (  "subject/instanceName_up",
            "subject/typeType",
            "object/instanceName_up",
            "object/typeType",
            "relCanonicalName"
         )
)
Where "mAB" > %(min_mab)i;''' % {"db_v":DB_V,"dump_path": dump_path, "min_mab": MIN_MENTIONS-1, "row_limit": 300000000}

print sql

connect to KG_R233;
export to /home/db2inst1/vinith/dump_v233_minmentions2.del of del
SELECT * FROM
(Select
    "subject/instanceName_up",
    "subject/typeType",
    "object/instanceName_up",
    "object/typeType",
    "relCanonicalName",
    SUM("mAB_doc") as "mAB",
    count(*) as "n_docs"
from (
     Select
        "subject/instanceName_up",
        "subject/typeType",
        "object/instanceName_up",
        "object/typeType",
        "relCanonicalName",
        "documentID",
        count(*) as "mAB_doc"
     from
     (select * from ADS."SIRE1.1"
     fetch first 300000000 rows only)
     group by ( "subject/instanceName_up",
                "subject/typeType",
                "object/instanceName_up",
                "object/typeType",
                "relCanonicalName",
                "documentID"
              )
     )
group by (  "subject/instanceName_up",
            "subject/typeType",
            "object/instanceName_up",
            "object/typeType",
            "relCanonicalName"
         )
)
Where "mAB" > 1;

###Run the above SQL in db2 on wd-app03.
###Then, copy over the file to the path: local_path_reltable

##Dump Entity data from DB2

In [162]:
sql = '''
export to /home/db2inst1/vinith/dump_entities_distinct_v%(db_v)s_minmentions%(min_mentions)i.del of del
Select DISTINCT "ENTITYNAME","ENTITYTYPE" from ADS.ENTITYSTATS2
where "RELATIONSHIPMENTIONCOUNT" > %(min_mentions_minusone)i
fetch first %(row_limit)i rows only;
''' % {"db_v":DB_V, "min_mentions":MIN_MENTIONS,"min_mentions_minusone":MIN_MENTIONS-1, "row_limit":100000000}
print sql

export to /home/db2inst1/vinith/dump_entities_distinct_v233_minmentions2.del of del
Select DISTINCT "ENTITYNAME","ENTITYTYPE" from ADS.ENTITYSTATS2
where "RELATIONSHIPMENTIONCOUNT" > 1
fetch first 100000000 rows only;

###Run the above SQL on wd-app03
###Copy over file to local_path_entitytable

##load both tables into pandas

In [163]:
relcols = ['A',
           'At',
           'B',
           'Bt',
           'reltype',
           'mAB',
           'nDocs']
local_path_reltable = '/ceph/vinith/kg/embedding/dump_v%(db_v)s_minmentions%(min_mentions)s.del' %{"db_v":DB_V,"min_mentions":MIN_MENTIONS}
reldata = pandas.read_csv(local_path_reltable,header=None,names=relcols,nrows=None,na_filter=True).dropna()

In [164]:
entitycols = ['A',
              'At']
local_path_entitytable = '/ceph/vinith/kg/embedding/dump_entities%(distinct)sv%(db_v)s_minmentions%(min_mentions)i.del' %{"distinct":DISTINCT, "db_v":DB_V,'min_mentions':MIN_MENTIONS}
entitydata = pandas.read_csv(local_path_entitytable,header=None,names=entitycols,na_filter=False)
len(entitydata)

24209271

In [165]:
print entitydata.ix[:10,:]
#print reldata.ix[:,:]

                                                    A      At
0                                                      PERSON
1                                                 ...  PERSON
2                                               CONAN  PERSON
3                                       SABELLA SABLE  PERSON
4                                             A'KEIBA  PERSON
5    AARHUS - FLENSBURG - HAMBURG - BERLIN - DRESD...  PERSON
6                                             AARSETH  PERSON
7                                              ABWEHR  PERSON
8                                               ADELE  PERSON
9                                           AEROSMITH  PERSON
10                                          AETHIOPIS  PERSON

In [166]:
entitydata['idx'] = pandas.Series(range(len(entitydata)))
entitydata.set_index(['A','At'],inplace=True)
entity_to_index = entitydata.to_dict()['idx']

In [167]:
import pdb
def Atest(row):
    key = (row['A'].strip(),row['At'])
    try:
        return entity_to_index[key]
    except KeyError,e:
        #print 'error'
        return -1
def Btest(row):
    key = (row['B'].strip(),row['Bt'])
    try:
        return entity_to_index[key]
    except KeyError,e:
        #print 'error'
        return -1

In [168]:
reldata

,A,At,B,Bt,reltype,mAB,nDocs
167,CONAN,PERSON,WRATH-AMON,TITLEWORK,colocation,2,1
168,ADELE,PERSON,SOMEONE LIKE YOU,TITLEWORK,authorOf,3,3
169,AIDA,PERSON,AMNERIS,PERSON,colocation,2,1
170,AIDA,PERSON,LA MONNAIE,GPE,colocation,2,1
171,ALBENA,PERSON,SINGLES,EVENT_SPORTS,participantIn,2,2
172,ALICIA KEYS,PERSON,THE DIARY OF ALICIA KEYS,TITLEWORK,authorOf,2,1
173,ALLEN,PERSON,CURT SCHNEIDER HARRY FOX AGENCY,PERSON,colocation,3,1
174,ALLEN,PERSON,LINDY ROBBINS HEINZ WINCKLER,PERSON,colocation,2,1
175,ALLEN,PERSON,MARY STEENBURGEN HARRY FOX AGENCY,PERSON,colocation,4,1
176,ALMATY,PERSON,KAZAKHSTAN,GPE,locatedAt,3,3
177,AMARANTE,PERSON,PORTUGAL,GPE,locatedAt,4,4
178,ANAHEIM,PERSON,CALIFORNIA,GPE,residesIn,3,3
179,ANAMORPHOSEE,PERSON,LES MOTS,ORGANIZATION,employedBy,2,2
180,ANDIJAN,PERSON,UZBEKISTAN,GPE,locatedAt,2,2
181,ANTALYA,PERSON,SINGLES,EVENT_SPORTS,participantIn,3,3
182,AR,PERSON,BRONZE,TITLEWORK,authorOf,2,2
183,AR,PERSON,SILVER,TITLEWORK,authorOf,3,3
184,ARAD,PERSON,SINGLES,EVENT_SPORTS,participantIn,3,3
185,ASHANTI BOYZ REMIX,PERSON,CHRIS BROWN -,PERSON,colocation,2,1
186,ASHKELON,PERSON,SINGLES,EVENT_SPORTS,participantIn,2,2
187,ASIATIC-PACIFIC CAMPAIGN MEDAL,PERSON,NAVY,ORGANIZATION,colocation,2,2
188,ASIATIC-PACIFIC CAMPAIGN MEDAL,PERSON,OCCUPATION SERVICE,ORGANIZATION,employedBy,2,2
189,ASIMOV,PERSON,FICTION,TITLEWORK,authorOf,6,4
190,ASIMOV,PERSON,SCI FICTION,TITLEWORK,authorOf,2,1
191,ASTANA,PERSON,"$10,000",MONEY,hasAttribute,2,2
192,ASTANA,PERSON,KAZAKHSTAN,GPE,locatedAt,6,6
193,ASTANA,PERSON,SINGLES,EVENT_SPORTS,participantIn,2,2
194,ASUNCION,PERSON,SINGLES,EVENT_SPORTS,participantIn,2,2
195,A_MAZE,PERSON,ART REVIEW,ORGANIZATION,colocation,2,1
196,BAGNATICA,PERSON,ITALY,GPE,locatedAt,2,2
...,...,...,...,...,...,...,...
23002796,_YEOVIL1213HOME,PERSON,PATTERN_SH,PERSON,colocation,3,3
23002797,_YUGOSLAVIA84,PERSON,PATTERN_SH,PERSON,colocation,3,3
23002798,_ZAMALEK1112H,PERSON,PATTERN_SH,PERSON,colocation,3,3
23002799,_ZAMALEK1213H,PERSON,PATTERN_SH,PERSON,colocation,4,4
23002800,_ZAMALEK199697H,PERSON,PATTERN_SH,PERSON,colocation,3,3
23002801,_ZAMALEK199798H,PERSON,PATTERN_SH,PERSON,colocation,2,2
23002802,_ZAMALEK200001H,PERSON,PATTERN_SH,PERSON,colocation,2,2
23002803,_ZAMALEK9495H,PERSON,PATTERN_SH,PERSON,colocation,2,2
23002804,_ZAMBIA12HOME,PERSON,PATTERN_SH,PERSON,colocation,2,2
23002805,_ZAMBIA12HOME,PERSON,_ZAMBIA12HOME PATTERN_RA1,PRODUCT,colocation,2,2
23002806,_ZAMBIA12HOME,PERSON,_ZAMBIA12HOME PATTERN_SH1,PRODUCT,colocation,2,2
23002807,_ZAMBIA12HOME,PERSON,_ZAMBIA12HOME PATTERN_SO1,PRODUCT,colocation,2,2
23002808,_ZAMBIA12HOME PATTERN_RA1,PRODUCT,_ZAMBIA12HOME PATTERN_SH1,PRODUCT,colocation,2,2
23002809,_ZAMBIA12HOME PATTERN_RA1,PRODUCT,_ZAMBIA12HOME PATTERN_SO1,PRODUCT,colocation,2,2
23002810,_ZAMBIA12HOME PATTERN_SH1,PRODUCT,_ZAMBIA12HOME PATTERN_SO1,PRODUCT,colocation,2,2
23002811,_ZENIT1112A,PERSON,_ZENIT1112H PATTERN_SO,PERSON,colocation,4,4
23002812,__ADIDASWHITE2001,PERSON,PATTERN_SH,PERSON,colocation,2,1
23002813,__INDEX,PERSON,CALENDARBOX,PERSON,colocation,2,2
23002814,__INDEX,PERSON,CALENDARGROUP,PERSON,colocation,2,2
23002815,__INDEX,PERSON,IS_SCIENTIFIC,PERSON,colocation,2,2
23002816,__INDEX,PERSON,RESULT.VPREFIX,PERSON,colocation,3,3
23002817,__INDEX,PERSON,TITLETABLE,PERSON,colocation,2,2
23002818,__INDEX METAMETHOD,PERSON,T2,PERSON,colocation,2,1
23002819,__NETHERLANDS90H,PERSON,PATTERN_SH,PERSON,colocation,2,2
23002820,__NOTOC__,PERSON,JAPANESE,GPE,partOfMany,4,4
23002821,__NOTOC__OLIVER EMANUEL,PERSON,BRITISH,GPE,partOfMany,2,1
23002822,__RAT_MVDYXPRQE2IOM4BA,PERSON,ABREPPSAUH,PERSON,colocation,3,3
23002823,__SPORTINGCP199596H,PERSON,PATTERN_SH,PERSON,colocation,2,2
23002824,__XFM__ DAB,PERSON,12A,MEASURE,hasAttribute,2,2
23002825,__XFM__ DAB,PERSON,LONDON,GPE,residesIn,2,2

In [169]:
reldata['Aindex'] = reldata.apply(func = Atest,axis=1)
reldata['Bindex'] = reldata.apply(func = Btest,axis=1)

In [170]:
reldata['label'] = 1
reldata.drop(labels=['At','Bt','reltype','mAB','nDocs'],axis = 1, inplace=True)
reldata = reldata[(~(reldata['Aindex']==-1))&(~(reldata['Bindex']==-1))]
print len(reldata)

22886956

In [171]:
len(reldata)

22886956

##Positive Sampling: reldata's A and B fields, as is

##Negative Sampling: for now pick randomly, but leave door open to do something more involved.

In [172]:
from numpy.random import randint,permutation
reldata_neg = reldata.copy()

#first, flip label
reldata_neg['label'] = -1

#next, generate noisy entity to be swapped in for each sample
new_entity = randint(0,len(entitydata),len(reldata_neg))

#swap half of the rows at random
rows = range(len(reldata_neg))
rows = permutation(rows)

Aarray = numpy.asarray(reldata_neg.ix[:,'Aindex'])
Barray = numpy.asarray(reldata_neg.ix[:,'Bindex'])

Aarray[rows[:len(rows)/2]] = new_entity[:len(rows)/2]
Barray[rows[len(rows)/2:]] = new_entity[len(rows)/2:]

reldata_neg['Aindex'] = Aarray
reldata_neg['Bindex'] = Barray

In [173]:
print rows[:10]
print reldata[:10]
print reldata_neg[:10]

[22329661 17387001 21751956 21559961 14307023  6463376 10275000 15896382
 19712791  4715766]
                               A                                  B   Aindex  \
167                        CONAN                         WRATH-AMON  4771229
168                        ADELE                   SOMEONE LIKE YOU   593975
169                         AIDA                            AMNERIS   736123
170                         AIDA                         LA MONNAIE   736123
171                       ALBENA                            SINGLES   869244
172                  ALICIA KEYS           THE DIARY OF ALICIA KEYS  1003418
173                        ALLEN    CURT SCHNEIDER HARRY FOX AGENCY  1038214
174                        ALLEN       LINDY ROBBINS HEINZ WINCKLER  1038214
175                        ALLEN  MARY STEENBURGEN HARRY FOX AGENCY  1038214
176                       ALMATY                         KAZAKHSTAN  1060974

       Bindex  label
167  23737530      1
168  19838317      1
169   1200136      1
170  12207415      1
171  19630386      1
172  21206638      1
173   5140042      1
174  12771135      1
175  13795560      1
176  11546938      1
                               A                                  B    Aindex  \
167                        CONAN                         WRATH-AMON   4771229
168                        ADELE                   SOMEONE LIKE YOU  17545465
169                         AIDA                            AMNERIS    736123
170                         AIDA                         LA MONNAIE    736123
171                       ALBENA                            SINGLES    869244
172                  ALICIA KEYS           THE DIARY OF ALICIA KEYS   1003418
173                        ALLEN    CURT SCHNEIDER HARRY FOX AGENCY   1038214
174                        ALLEN       LINDY ROBBINS HEINZ WINCKLER   1038214
175                        ALLEN  MARY STEENBURGEN HARRY FOX AGENCY   1038214
176                       ALMATY                         KAZAKHSTAN   9516916

       Bindex  label
167   2700545     -1
168  19838317     -1
169   5578294     -1
170  16248562     -1
171  15473132     -1
172  14517319     -1
173   7539059     -1
174  10759393     -1
175   3314092     -1
176  11546938     -1

##Dump data to CSV, and then copy over to db2 machine for featurization

In [174]:
#data_x = numpy.concatenate([reldata[['Aindex','Bindex']].as_matrix(),reldata_neg[['Aindex','Bindex']].as_matrix()],axis=0)
#data_y = numpy.concatenate([reldata[['label']].as_matrix(),reldata_neg[['label']].as_matrix()],axis=0)
data_x1 = reldata[['Aindex','Bindex']].as_matrix()
data_x0 = reldata_neg[['Aindex','Bindex']].as_matrix()
data_y1 = reldata[['label']].as_matrix()
data_y0 = reldata_neg[['label']].as_matrix()

In [204]:
test = pandas.unique(reldata[['Aindex','Bindex']].values.flatten())

In [205]:
len(test)

5336391

In [175]:
import cPickle as pickle
pickle.dump([data_x1,data_x0,data_y1,data_y0],open(dir_local+'traindata'+standard_suffix+'.pkl','w'))

In [176]:
print dir_local+'traindata'+standard_suffix+'.pkl'

/ceph/vinith/kg/embedding/traindata_distinct__v233_minmentions2_styleuniform.pkl